{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% else %}
  <div>
    {% for stop in stops %}
      {% if index.first %}
        <table>
      {% else %}
        <table class="cta-mt-10">
      {% endif %}
        <thead>
          <tr>
            <td class="bright align-middle" colspan="2">
              {% if routeIcons %}
                {% if stop.type === 'train' %}
                  <i class="fa fa-train fa-sm cta-mr-5"></i>
                {% elif stop.type === 'bus' %}
                  <i class="fa fa-bus fa-sm cta-mr-5"></i>
                {% endif %}
              {% endif %}

              {{ stop.name}}
            </td>
          </tr>

          <tr class="small">
            <th class="align-left">
              {{ "DIRECTION" | translate }}
            </th>

            <th class="align-right">
              {{ "ARRIVAL" | translate }}
            </th>
          </tr>
        </thead>

        <tbody>
          {% for arrival in stop.arrivals %}
            <tr class="small">
              <td class="align-left">
                {{ arrival.direction }}
              </td>

              <td class="bright align-right bold">
                {{ arrival.arrival }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endif %}
