{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% else %}
  <div>
    {% for stop in stops %}
      {% if index.first %}
        <table>
      {% else %}
        <table class="cta-mt-10">
      {% endif %}
        <thead>
          <tr>
            <td
              class="bright align-middle"
              {% if routeIcons %}
                colspan="3"
              {% else %}
                colspan="2"
              {% endif %}
            >
              {{ stop.name}}
            </td>
          </tr>

          {% if showHeaders %}
            <tr class="small">
              {% if stop.arrivals.length %}
                {% if routeIcons %}
                  <th class="align-left"></th>
                {% endif %}
                <th class="align-left">
                  {{ "DIRECTION" | translate }}
                </th>

                <th class="align-right">
                  {{ "ARRIVAL" | translate }}
                </th>
              {% endif %}
            </tr>
          {% endif %}
        </thead>
        <tbody>
	        {% if stop.arrivals.length %}
            {% for arrival in stop.arrivals %}
              <tr class="small">
                {% if routeIcons %}
                  <td class="icon-col align-left {{ arrival.routeColor }}">
                    {% if stop.type === 'train' %}
                      <i class="fa fa-train fa-sm cta-mr-5"></i>
                    {% elif stop.type === 'bus' %}
                      <i class="fa fa-bus fa-sm cta-mr-5"></i>
                    {% endif %}
                  </td>
                {% endif %}

                <td class="align-left cta-pr-20">
                  {{ arrival.direction }}
                </td>

                <td class="bright align-right">
                  {{ arrival.arrival }}
                </td>
              </tr>
            {% endfor %}
	        {% else %}
	          <td class="small">No scheduled arrivals.</td>
	        {% endif %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endif %}
