{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% else %}
  <div>
    {% for stop in stops %}
      <table>
        <thead>
          <tr>
            <td align="middle" colspan="2" class="small">
              {{ stop.name}}
            </td>
          </tr>

          <tr class="xsmall">
            <th>{{ "DIRECTION" | translate }}</th>

            <th align="right">{{ "ARRIVAL" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          {% for arrival in stop.arrivals %}
            <tr class="xsmall">
              <td>{{ arrival.direction }}</td>

              <td align="right">{{ arrival.arrival }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endif %}
